
@{
    Layout = "_Layout";
}
<style>
    p{
        text-indent: 20px;
    }
</style>
<h2>About us</h2>
<p>
    Tasty is a multinational cooking community where people from all over the world share their tasty recipes.
    We are really proud of our job because it helps to connect different cultures and people together.
    Do not be scared to upload your recipe even if it is nor perfect. Nobody will ever get ashamed here because in our friendly
    community people are willing to help and give advise to unexperienced cooks. If you do not believe, then try out!
</p>
<p>
    "Kitchen" artists from all over the world are willing to teach any of you how to make the most delicious dishes.
    Register for our webinars now and start you beatiful journey in the country of tastes.
</p>
<p>Enjoy yourself and enjoy our tasty recipes!</p>